
<!DOCTYPE html>
<html lang="es" class="scroll-smooth">

    <head>
        <%- include("partials/inicio/head") %> 
        <%- include("partials/catalogo/head") %> 
    </head>

    
    <body class="">

        <!--nav-->
        <%- include('partials/silderbar'); %>
        <!--nav-->

        <main class="
                    relative
                    z-30
                    transition-all
                    duration-300
                    ease-in-out
                    lg:left-16">

            <div id="header" class="
                                    bg-white
                                    fixed
                                    z-20
                                    flex
                                    flex-col
                                    justify-between
                                    items-center
                                    px-4
                                    pt-2
                                    w-full
                                    top-0
                                    lg:justify-center
                                    transition-transform
                                    duration-300
                                    ">

                <div class="
                            flex
                            justify-between
                            w-full">
                    <div id="nav" class="flex">
                        <button>
                            <span>
                                <svg class="
                                            icon z-30
                                            fill-black
                                            lg:hidden"
                                            xmlns="http://www.w3.org/2000/svg" width="30 " height="30 " viewBox="0 0 24 24"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
                            </span>
                        </button>
                    </div>

                    <div id="search-after" class="
                                    w-1/2
                                    flex
                                    justify-center
                                    items-center
                                    mx-2
                                    lg:hidden
                                    h-full "
                                    >
                            <div class="
                                        flex
                                        w-full
                                        h-1/2
                                        justify-center
                                        border
                                        border-solid
                                        border-gray-900
                                        rounded-2xl
                                        px-2
                                        py-1
                                        space-x-2
                                        "
                                        >
                                <input <%- mostrarEnElBuscador %> type="text" name="" id="" class="w-full outline-none cursor-pointer" placeholder="Buscar..." disabled>
                                <span class="hidden flex justify-center items-center" id="anular"><svg class="icon fill-slate-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg></span>
                            </div>
                        </div>

                    <div id="sacar-search" class="flex lg:hidden">
                        <button>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"></path></svg>
                            </span>
                        </button>
                    </div>
                </div>


                <div id="search" class="
                                        fixed
                                        top-0
                                        left-0
                                        h-screen
                                        w-full
                                        flex
                                        flex-col
                                        items-center
                                        justify-start
                                        bg-white
                                        translate-x-full
                                        transition-transform
                                        duration-200
                                        lg:hidden z-30
                                        overflow-auto" >
                    <div class="
                                flex
                                w-3/4
                                justify-center
                                border
                                border-solid
                                border-gray-900
                                rounded-lg
                                p-2
                                space-x-2
                                mt-2">
                        <span class="flex items-center cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path></svg></span>
                        <input <%- mostrarEnElBuscador %> type="text" name="" id="" class="w-full outline-none" placeholder="Buscar...">
                        <button class="hidden flex justify-center items-center" id="anular">
                            <svg class="icon fill-slate-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
                        </button>
                        <button id="btn-buscar">
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"></path></svg>
                            </button>
                        </button>
                    </div>

                    <div id="resultado-busqueda" class="
                                                        bg-white
                                                        w-4/5
                                                        p-3
                                                        rounded-b-lg
                                                        transition-all
                                                        duration-300" >
                        <ul class="space-y-3" id="resultado-busqueda-list"></ul>
                    </div>
                </div>

                <div id="container-search-md" class="
                                                    hidden
                                                    lg:w-2/4
                                                    lg:flex
                                                    lg:flex-col
                                                    lg:relative
                                                    lg:z-30">
                    <div id="search-md" class="
                                                h-11
                                                lg:flex
                                                lg:justify-center
                                                lg:w-full
                                                lg:p-2
                                                lg:space-x-2
                                                lg:rounded-3xl">
                        <button class="flex items-center" id="btn-buscar-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"></path></svg>
                        </button>
                        <input <%- mostrarEnElBuscador %> type="text" name="" id="" placeholder="Buscar..." class="w-full outline-none appearance-none">
                        <button class="" id="anular">
                            <svg class="icon fill-slate-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
                        </button>

                    </div>

                    <div id="res-search-container-md" class="
                                                            lg:flex
                                                            lg:w-full
                                                            lg:absolute
                                                            lg:top-full
                                                            lg:bg-white
                                                            rounded-xl">
                        <ul id="res-search-list" class="lg:px-1 lg:w-full"></ul>
                    </div>
                </div>


            </div>

            <div class="mt-14 text-center"><h3 class="text-gray-500 font-semibold ">Se encontraron <strong class="text-green-500"><%= resultadosEncontrados %></strong> resultados</h3></div>
            <div id="cards" class="
                                    relative
                                    z-0
                                    w-full
                                    h-full
                                    grid
                                    gap-y-3
                                    gap-x-2
                                    p-8
                                    sm:p-5
                                    lg:p-8
                                    justify-center
                                    grid-cols-1
                                    tablet:grid-cols-2
                                    sm:grid-cols-2
                                    md:grid-cols-3
                                    lg:grid-cols-3
                                    xl:grid-cols-4
                                    2xl:grid-cols-5
                                    3xl:grid-cols-6
                                    ">
                
                <% for ( let i of docs ) {%>
                    <a href=<%- `info/${i.id}` %> id="card" class=" relative w-full h-max font-sans transition-transform duration-500 shadow-lg shadow-slate-600">
                        <div id="poster" class="overflow-hidden h-96 relative"><%- i.imagen %> </div>
                        <div id="details" class="h-full p-2 space-y-1 w-full absolute bottom-0 flex flex-col flex-wrap justify-end">
                            <div class="flex justify-between">
                                <h3 id="añoEstreno" class="text-white flex items-center rounded-lg font-normal text-md"><%= i.fechaDeEstreno[2] %> </h3>
                                <h3 id="precio" class="text-green-300 self-end font-normal text-md ">$<%= i.precio %> </h3>
                            </div>

                            <h2 id="nombre" class=" text-white  rounded-lg font-medium w-full break-words"><%= i.nombre %> </h3>
                            <div id="generos" class="text-white rounded-lg flex flex-wrap">
                                <% i.generos.forEach( e => { %>
                                    <span class=" bg-red-600 rounded-lg align-middle text-sm font-medium px-2 py-1 mr-1 mb-1" id="generos-cards"><%= e %> </span>
                                <% }) %>
                            </div>
                        </div>
                    </a>
                <% } %>

            </div>

            <div id="containerPaginacion" class=" w-full justify-between flex items-center px-3 lg:px-20 py-3">
            </div>

        </main>


        <script src="/js/nav.js"></script>
        <script type="module" src="/js/funcionesResultadosBusquedaCatalogo/main.js"></script>
    </body>
</html>


