<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <%- include( 'partials/inicio/head' ) %> 
    <%- include('partials/formCategorias/head') %> 
</head>
<body class="">

    <%- include('partials/silderbar'); %>

    <main id="main" class="lg:relative lg:left-16 font-Roboto">
        <div id="nav" class="fixed
                            flex
                            justify-center
                            items-center
                            p-2
                            border
                            border-solid
                            border-gray-200
                            z-30
                            top-0
                            left-0
                            bg-white
                            m-4
                            rounded-full
                            lg:hidden">
            <button>
                <span class="">
                    <svg class="fill-black xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
                </span>
            </button>
        </div>
        
        
        
        <%- include( 'partials/formCategorias/modal' ) %> 

        <form id="form" class=" 
                            p-5
                            lg:py-5
                            lg:px-16">
            <div class="formulario 
                relative 
                grid 
                grid-cols-1 
                gap-y-2
                lg:grid-cols-4
                lg:gap-3
                lg:gap-y-7
            ">
                
                <%- include( 'partials/formCategorias/grid_item_uno' ) %>
                <%- include( 'partials/formCategorias/grid_item_dos' ) %>
                <%- include( 'partials/formCategorias/grid_item_tres' ) %>
                <%- include( 'partials/formCategorias/grid_item_cuatro' ) %>
                <%- include( 'partials/formCategorias/grid_item_cinco' ) %>
                <%- include( 'partials/formCategorias/grid_item_seis' ) %>
                <%- include( 'partials/formCategorias/grid_item_siete' ) %>
                <%- include( 'partials/formCategorias/grid_item_ocho' ) %>
                <%- include( 'partials/formCategorias/grid_item_nueve' ) %>
                
            </div>
        </form>
    </main>

    <script src="/js/nav.js"></script>
    <script type="module" src="/js/formulario/mainForm.js"></script>
</body>
</html>