<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include( 'partials/head' ) %> 
    <link rel="stylesheet" href="/css/adminFormPelicula/InterfazAlmacenar.css">
    <link rel="stylesheet" href="/css/adminFormPelicula/formPeliculas.css">
    <link rel="stylesheet" href="/css/adminFormSerie/formSeries.css">
    <link rel="stylesheet" href="/css/adminFormPelicula/modal.css">
    <title>Almacenar Serie</title>
</head>
<body>
    <%- include('partials/silderbar'); %>

    <main id="main">
        
        <%- include( 'partials/formCategorias/modal' ) %> 

        <form id="form" >
            <div class="formulario">
                
                <%- include( 'partials/formCategorias/grid_item_unoSerie' ) %>
                <%- include( 'partials/formCategorias/grid_item_dosSerie' ) %>
                <%- include( 'partials/formCategorias/grid_item_tres' ) %>
                <%- include( 'partials/formCategorias/grid_item_cuatro' ) %>
                <%- include( 'partials/formCategorias/grid_item_cinco' ) %>
                <%- include( 'partials/formCategorias/grid_item_seis' ) %>
                <%- include( 'partials/formCategorias/grid_item_sieteSerie' ) %>
                <%- include( 'partials/formCategorias/grid_item_ocho' ) %>
                <%- include( 'partials/formCategorias/grid_item_nueve' ) %>
                
            </div>
        </form>
    </main>

    <script src="/js/nav.js"></script>
    <script type="module" src="/js/adminFormSerie/form.js"></script>
</body>
</html>