<!DOCTYPE html>
<html lang="en">
    <%- include('partials/inicio/head') %> 
<body>
    <%- include("partials/silderbar") %> 

    <div>
        <ul>
            <li><%= doc.precio %> </li>
            <li><%= doc.nombre %> </li>
            <li><%= doc.formato %> </li>
            <li><%= doc.size %> </li>
            <li><%= doc.descripcion %> </li>
            <li><%= doc.plataforma %> </li>
            <li><%= doc.pais %> </li>
            <li><img src=<%- doc.imagen %>  alt=""></li>
            <% for ( let i of doc.generos ) {%> 
                <li><%= i %> </li>
            <% } %> 
            <% for ( let i of doc.actores ) {%> 
                <li><%= i %> </li>
            <% } %> 
            <% for ( let i of doc.fechaDeEstreno ) {%> 
                <li><%= i %> </li>
            <% } %> 
            <% for ( let i of doc.audio ) {%> 
                <li><%= i %> </li>
            <% } %> 
        </ul>
    </div>
</body>
</html>